
.successful {
  background: #92ce00;
  background: -webkit-gradient(linear, left top, left bottom, from(#92ce00), to(#4e9700));
  background: -moz-linear-gradient(top, #92ce00, #4e9700);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#92ce00', endColorstr='#4e9700');
}

.successful > span {
  background-color: #92ce00;
  background-image: -moz-linear-gradient(top, #92ce00, #4e9700);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #92ce00),color-stop(1, #4e9700));
  background-image: -webkit-linear-gradient(#92ce00, #4e9700);
}

.failed {
  background: #FF3535;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF3535), to(#660306));
  background: -moz-linear-gradient(top, #FF3535, #660306);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3535', endColorstr='#660306');
}

.failed > span {
  background-color: #FF3535;
  background-image: -moz-linear-gradient(top, #FF3535, #660306);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FF3535),color-stop(1, #660306));
  background-image: -webkit-linear-gradient(#FF3535, #660306);
}

.unstable {
  background: #FA9F3C;
  background: -webkit-gradient(linear, left top, left bottom, from(#FA9F3C), to(#EB4200));
  background: -moz-linear-gradient(top, #FA9F3C, #EB4200);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FA9F3C', endColorstr='#EB4200');
}

.unstable > span {
  background-color: #FA9F3C;
  background-image: -moz-linear-gradient(top, #FA9F3C, #EB4200);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FA9F3C),color-stop(1, #EB4200));
  background-image: -webkit-linear-gradient(#FA9F3C, #EB4200);
}

.cancelled {
  background: #C9C9C9;
  background: -webkit-gradient(linear, left top, left bottom, from(#C9C9C9), to(#4B4B4B));
  background: -moz-linear-gradient(top,  #C9C9C9,  #4B4B4B);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#C9C9C9', endColorstr='#4B4B4B');
}

.cancelled > span {
  background-color: #C9C9C9;
  background-image: -moz-linear-gradient(top, #C9C9C9, #4B4B4B);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #C9C9C9),color-stop(1, #4B4B4B));
  background-image: -webkit-linear-gradient(#C9C9C9, #4B4B4B);
}

.disabled {
  background: #C9C9C9;
  background: -webkit-gradient(linear, left top, left bottom, from(#C9C9C9), to(#4B4B4B));
  background: -moz-linear-gradient(top, #C9C9C9, #4B4B4B);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#C9C9C9', endColorstr='#4B4B4B');
}

.claimed {
  background: #F7F743;
  background: -webkit-gradient(linear, left top, left bottom, from(#F7F743), to(#FF8F00));
  background: -moz-linear-gradient(top, #F7F743,  #FF8F00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F743', endColorstr='#FF8F00');
}
