
.job {
  width: 22%;
  height: 60px;
}

.fvisconte {
  background-image: url(fvisconte.png);

}

.bvidal {
  background-image: url(chauve.jpg);
}

.yallusse {
  background-image: url(sweden.jpg);
}

.mcupcic {
  background-image: url(explosion.jpg);
}
