/*
    Document   : style
    Created on : 07-Jan-2011, 15:59:41
    Author     : jake
    Description:
        Purpose of the stylesheet follows.
*/

root {
	display: block;
}

body {
	font-family: arial, sans;
	font-weight: bold;
	background: black;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

ul {
	text-align: center;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

#job_alerts {
  position: absolute;
  height: 75%;
 	overflow: hidden;
  top: 0;
  width: 100%;
}

#running_jobs {
  height: 15%;
  position: absolute;
  top: 75%;
  width: 100%;
}

#overlayCounter {
  top: 90%;
  background: #111;
  height: 10%;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.tumblrMessage {
	color: white;
	font-size: 3.0em;
}

.tumblrImage
{
	margin-top: 5%;
	float: center;
}

.imageVictoryLeft {
  bottom: 0;
  left: 0;
  position: fixed;
}

.flip-horizontal {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}

.imageVictoryRight {
  bottom: 0;
  right: 0;
  position: fixed;
}

.box {
	color: white;
	font-size: 2.5em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	float: left;
	margin: 0.3%;
	padding: 10px;
	text-align:center;

	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.4);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.4);
	box-shadow: 0 3px 6px rgba(0,0,0,.4);
}

.counter {
	font-size: 4.0em;
	margin: 0.3%;
	width: 31%;
	height: 80%;
	padding: 10px;
	text-align:center;
}

.lastSuccedBuild {
	color: white;
	font-size: 3.5em;
	float: left;
	margin: 0.3%;
	width: 20%;
	height: 10%;
 	overflow: ellipsis;
	padding: 10px;
  text-align:left;
}

.jobsBorderHeader {
  color: #FFFF66;
  font-size: 3.0em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  margin: 0.3%;
  width: 90%;
  padding: 2px;
	text-align: center;
}

.jobBroken {
	display: table;
	color: white;
	font-size: 3.5em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	margin: 0.3%;
	width: 75%;
	height: 70px;
	padding: 10px;
	text-align:left;
	display: table-cell;
  vertical-align: middle;

}

.jobSuccess {
	color: white;
	font-size: 3em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	float: left;
	margin: 0.3%;
	width: 31%;
	height: 50px;
	padding: 10px;
  text-align: left;
}


.blame {
	font-weight: normal;
	font-size: .8em;
	padding-left: 0.8em;
	background-image: url(lock.gif);
	background-repeat: no-repeat;
	background-position: 0px center;
}

.success {
	border: 1px solid #CCFF00;
	background: #f9fa2f;
	background: -webkit-gradient(linear, left top, left bottom, from(#92ce00), to(#4e9700));
	background: -moz-linear-gradient(top, #92ce00, #4e9700);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#92ce00', endColorstr='#4e9700');
}

.failed {
	border: 2px solid #380000;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#FF3535), to(#660306));
	background: -moz-linear-gradient(top, #FF3535, #660306);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3535', endColorstr='#660306');
}

.unstable {
	background: #FA9F3C;
	background: -webkit-gradient(linear, left top, left bottom, from(#FA9F3C), to(#EB4200));
	background: -moz-linear-gradient(top, #FA9F3C, #EB4200);
	filter:	progid:DXImageTransform.Microsoft.gradient(startColorstr='#FA9F3C', endColorstr='#EB4200');
}

.cancelled {
	background: #C9C9C9;
	background: -webkit-gradient(linear, left top, left bottom, from(#C9C9C9), to(#4B4B4B));
	background: -moz-linear-gradient(top,  #C9C9C9,  #4B4B4B);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#C9C9C9', endColorstr='#4B4B4B');
}

.disabled {
	background: #C9C9C9;
	background: -webkit-gradient(linear, left top, left bottom, from(#C9C9C9), to(#4B4B4B));
	background: -moz-linear-gradient(top, #C9C9C9, #4B4B4B);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#C9C9C9', endColorstr='#4B4B4B');
}

.claimed {
	background: #F7F743;
	background: -webkit-gradient(linear, left top, left bottom, from(#F7F743), to(#FF8F00));
	background: -moz-linear-gradient(top,	#F7F743,	#FF8F00);
	filter:	progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F743', endColorstr='#FF8F00');
}
