
.job {
  width: 22%;
  height: 60px;
}

.fvisconte {
  background-image: url('/images/fvisconte.png');

}

.bvidal {
  background-image: url('/images/chauve.jpg');
}

.yallusse {
  background-image: url('/images/sweden.jpg');
}

.mcupcic {
  background-image: url('/images/explosion.jpg');
}

.glaboulaye {
  background-image: url('https://account.corp.ltutech.com/photos.php?user=glaboulaye') no-repeat center center;
}

.rparent {
  background-image: url('https://account.corp.ltutech.com/photos.php?user=rparent') no-repeat center center;
}
