
.job {
  width: 22%;
  height: 60px;
}

.imageVictory {
  display: block;
  height: 395px;
  width: 300px;
  padding-bottom: 100px;
  background: url('/images/ChuckNorris.png') no-repeat;
}

.fvisconte {
  background-image: url('/images/fvisconte.png');

}

.bvidal {
  background-image: url('/images/chauve.jpg');
}

.yallusse {
  background-image: url('/images/sweden.jpg');
}

.mcupcic {
  background-image: url('/images/explosion.jpg');
}

.glaboulaye {
  background-image: url('https://account.corp.ltutech.com/photos.php?user=glaboulaye');
  background-position: center center;
}

.rparent {
  background-image: url('https://account.corp.ltutech.com/photos.php?user=rparent');
  background-position: center center;
}
