.bvidal {
  background-image: url('/product/chauve.jpg');
}

.imageVictory {
  display: block;
  height: 100px;
  width: 200px;
  padding-bottom: 100px;
  background: url('/images/mantis_shrimp.png') no-repeat;
}

.job {
  width: 47%;
  height: 42px;
  text-shadow: 2px 2px #000000;
}

